@import url('reset.css');
@import url('normalize.css');


/* __________________GLOBAL_____________________ */

html{
	height: 100%;
}

body{
	font-family: arial, sans-serif;
	height: 100%;
	background-color: aliceblue;
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
}


/* __________BARRE____________ */

header {
	background-color: #595E4B;
	color: white;
}

header::after{
	content:"";
	display: block;
	clear: both;
}

header div{
	width: 25%;
	float: left;
}

header p{
	margin: 0 auto;
	padding: 20px;
	font-size: 16px;
	text-align: center;
}
header p span{
	font-weight: 700;
	color: yellow;
}

header nav{
	width: 70%;
	float: right;
}

nav ul li{
	display: inline-block;
	
}

nav ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}

nav ul li a:hover{	
	color: black; 
}


