@import url('reset.css');
@import url('normalize.css');


/* __________________GLOBAL_____________________ */

html{
	height: 100%;
}

body{
	font-family: arial, sans-serif;
	height: 100%;
	width: 100%;
	background-color: #e6e6e6;
	margin: 0 auto;
	font-size: 14px;
	
}


/* __________BARRE____________ */

header {
	background-color: grey;
	color: white;
	width: 1340px;
}

header::after{
	content:"";
	display: block;
	clear: both;
}

header div{
	width: 20%;
	float: left;
}

header p{
	margin: 0 auto;
	padding: 10px;
	
	text-align: center;
}
header p span{
	font-weight: 700;
	color: yellow;
}

header nav{
	width: 80%;
	float: right;
}

header ul{
	margin-left: 20px;
}

nav ul li{
	margin-top: 15px;
	display: inline-block;
	
}

nav ul li a{
	padding: 5px;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}

nav ul li a:hover{	
	color: black; 
}

/* CHAMPS */

h1{
	margin-left: 20px;
	padding: 15px 5px 0;
}

form{
	margin-left: 30px;
	padding-top: 10px;
}

label{
	display: block;
	margin: 15px 5px 0;
		
}

input{
	display: block;
	margin: 5px;
}

input[type=submit]{
	margin-top: 15px;
	background-color: #ff6666;
	color: white;
	padding: 8px;
}

textarea{
	margin: 5px;
}

select{
	margin: 5px;
}

form a{
	margin-left: 10px;
	font-size: 10px;
}



