@import url('reset.css');
@import url('normalize.css');


/* __________________GLOBAL_____________________ */

html{
	height: 100%;
}

body{
	font-family: arial, sans-serif;
	height: 100%;
	width: 100%;
	background-color: #e6e6e6;
	margin: 0 auto;
	font-size: 14px;
}

.container{
	max-width: 1080px;
}



/* __________BARRE____________ */

header hr {
	border-bottom: 1px dotted black;
	margin: 0;
}

header {
	background-color: grey;
	color: white;
	width: 100%;
	
}

header::after{
	content:"";
	display: block;
	clear: both;
}

header p{
	padding: 12px 30px;	
	text-align: left;
}
header p span{
	font-weight: 700;
	color: yellow;
}

header ul{
	margin-left: 15px;
}

nav ul li{
	margin: 15px 0;
	display: inline-block;
	
}

nav ul li a{
	padding: 5px;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}

nav ul li a:hover{	
	color: black; 
}

/* CHAMPS */

h1{
	margin-left: 20px;
	padding: 15px 5px 0;
}

form{
	margin-left: 30px;
	padding-top: 10px;
}

label{
	display: block;
	margin: 15px 5px 0;
		
}

input{
	display: block;
	margin: 5px;
}

input[type=submit]{
	margin-top: 15px;
	background-color: #ff6666;
	color: white;
	padding: 8px;
	border: none;
	border-radius: 5px;
}

textarea{
	margin: 5px;
}

select{
	margin: 5px;
}

form a{
	margin-left: 10px;
	font-size: 10px;
}


/* AFFICHAGE */

article{
	margin: 0 30px;
	padding: 15px 0;
}

article p, article span, article em{
	margin: 10px;
	padding: 5px;
	background-color: white;
	border-radius: 5px;
}

article a{
	text-decoration: none;
}

main hr {
	margin-bottom: 15px;
}

#modifier{
	text-align: right;
	padding-right: 40px;
}

input[type=radio]{
	display: inline-block;
}

#message{
	margin-top: 22px;
}


/* PAGINATION */

.lien{
	margin-left: 40px;
	padding: 8px;
	border-radius: 5px;
	text-decoration: none;
	background-color: #ff6666;
	color: white;
}

.pagination{
	margin-top: 30px;
	text-align: center;	
}

.pagination a{
	text-decoration: none;
}



