@import url('reset.css');
@import url('normalize.css');


html
{
	height: 100%;
}
body
{
	font-family: arial, sans-serif;
	height: 100%;
	background-color: grey;
}

main
{
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	height: 100%;
}

#leftSide
{
	width: 30%;
	background-color: aliceblue;
	float:left;


}

#rightSide
{
	width: 70%;
	float: right;
	background-color: white;
}

#rightSide, #leftSide
{
	height: 100%;
}