@import url('reset.css');
@import url('normalize.css');


/* __________________GLOBAL_____________________ */
html
{
	height: 100%;
}
body
{
	font-family: arial, sans-serif;
	height: 100%;
	background-color: #F9F9F9;
}

main
{
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	height: 100%;
}

#leftSide
{
	width: 270px;
	background-color: #DCDCDC;
	float:left;
	position: fixed;
	height: 100%;
}

#rightSide
{
	width: 70%;
	float: right;
	background-color: white;
	min-height: 100%;
}


/* __________________PARTIE GAUCHE_____________________ */

/* HEADER */
#leftSide header
{
	text-align: center;
	color: #3EA4E8;
}
#leftSide header img
{
	margin-top: 30%;
	border: 5px #3EA4E8 solid;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	margin-bottom: 30px;
    box-shadow: 0 3px 10px #888;
    transform: rotateY(0deg); /*reviens au point d'origine*/
    transition-property: transform;
    transition-duration: 1.25s;
}
#leftSide header ul li
{
	margin-bottom: 4%;
	font-size: 1.25em;
}
#leftSide header ul
{
    list-style: none;
    text-align: left;
    display: inline-block;
}
/* NAV */
#leftSide nav
{
	text-align: center;
}
#leftSide nav ul li a
{
	color: #3EA4E8;
	text-decoration: none;
	padding: 5px;
	background-color: ; 
	border-left: 4px solid transparent;
}
#leftSide nav ul li a:hover
{
	border-left: 4px solid #3EA4E8;
	transition-property: border-left;
	transition-duration: 0.5s;
	transition-timing-fonction: linear;
}
#leftSide nav ul
{
	margin-top: 50%;
	text-align: left;
	display: inline-block;
}
#leftSide nav ul li
{
	margin-bottom: 20%;
	font-size: 1.6em;
}

/* __________________PARTIE DROITE_____________________ */

/* HAUT */

#rightSide h1,img
{
	text-align: center;
	height: 50%;
}

#rightSide h1
{
	margin-top: 20%;
	margin-bottom: 10%;
	font-size: 3em;
	color: #3EA4E8;
}
#cover
{
	margin: 4%;
	width: 90%;
	border: 2px solid #3EA4E8;
	border-radius: 10px;
}


/* NEWS */

#blocNews
{
	padding: 5%;
}
#blocNews h2
{
	color: #3EA4E8;
	font-size: 2em;
}

#blocNews a
{
	text-decoration: none;
	color: #3EA4E8;
	padding: 2px;
}

#blocNews h3
{
	color: #3EA4E8;
	font-size: 1.5em;
	margin-bottom: 10px;
}

article
{
	margin: 5% 0;
	padding: 10px;
	border-radius: 10px;
}

article:hover
{
	background-color: #E6EAEC;
	transition: background-color 1.2s linear;
}

#leftSide header img:hover
{
    transform: rotateY(180deg);
    transition-property: transform;
    transition-duration: 1.5s;
}