@import url('reset.css');
@import url('normalize.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');


/* __________________GLOBAL_____________________ */
html
{
	height: 100%;
}
body
{
	font-family: arial, sans-serif;
	height: 100%;
	background-color: #F9F9F9;
	background-size: 100%;
}

main
{
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	height: 100%;
}

#leftSide
{
	width: 270px;
	background-color: #6dc5df;
	float:left;
	position: fixed;
	height: 100%;
	box-shadow: 2px 0 5px #999, -2px 0 5px #999;
	background: linear-gradient(to bottom,#6dc5df 0%,#429fb8 100%);
}

#rightSide
{
	width: 70%;
	float: right;
	background-color: white;
	min-height: 100%;
	/* background: url('fond_noir.png'); */
}
p {
	word-wrap: break-word;
}

/* __________________PARTIE GAUCHE_____________________ */

/* HEADER */
#leftSide header
{
	text-align: center;
	color: white;
}
#leftSide header img
{
	margin-top: 30%;
	border: 2px white solid;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	margin-bottom: 30px;
    box-shadow: 0 3px 10px #888;
    transform: rotateY(0deg); /*reviens au point d'origine*/
    transition-property: transform;
    transition-duration: 1.25s;
}
#leftSide header ul li
{
	margin-bottom: 4%;
	font-size: 1.25em;
}
#leftSide header ul
{
    list-style: none;
    text-align: left;
    display: inline-block;
}
/* NAV */
#leftSide nav
{
	text-align: center;
}
#leftSide nav ul li a
{
	color: white;
	text-decoration: none;
	padding: 5px;
	background-color: ;
	border-left: 4px solid transparent;
}
#leftSide nav ul li a:hover
{
	border-left: 4px solid white;
	transition-property: border-left;
	transition-duration: 0.5s;
	transition-timing-fonction: linear;
}
#leftSide nav ul
{
	margin-top: 50%;
	text-align: left;
	display: inline-block;
}
#leftSide nav ul li
{
	margin-bottom: 20%;
	font-size: 1.6em;
}

#leftSide header img:hover
{
    transform: rotateY(180deg);
    transition-property: transform;
    transition-duration: 1.5s;
}

/* __________________PARTIE DROITE_____________________ */

/* HAUT */

#rightSide h1,img
{
	text-align: center;
	height: 50%;
}

#rightSide h1
{
	margin-top: 20%;
	margin-bottom: 10%;
	font-size: 3em;
	color: #6dc5df;
}
#cover
{
	margin: 4%;
	width: 90%;
	border-radius: 10px;
}

/* NEWS */

#blocNews
{
	padding: 5%;
}
#blocNews h2
{
	color: #6dc5df;
	font-size: 2em;
}

#blocNews a
{
	text-decoration: none;
	color: #6dc5df;
	padding: 2px;
}

#blocNews h3
{
	color: #6dc5df;
	font-size: 1.5em;
	margin-bottom: 10px;
}

article
{
	margin: 5% 0;
	padding: 10px;
	border-radius: 10px;
}

article:hover
{
	background-color: #E6EAEC;
	transition: background-color 0.45s linear;
}


#blocNews form label
{
	color: #6dc5df;
}
.champContact, #blocNews form textarea
{
	margin-bottom: 15px;
	margin-top: 5px;
	padding: 5px;
	border-radius: 5px;
	border: 1px #6dc5df solid ;

}
#envoyerMessage
{
	padding: 18px;
	background-color: #6dc5df;
	border: none;
	border-radius: 7px;
	color: white;
	font-size: 1.15em;
}

/* _________________________FLEX-SLIDER_____________________________ */
#cover .slides li
{
	height: 350px;
}
#cover .slides img
{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}


/* _________________________BUTTON_____________________________ */

#searchButton
{
	padding: 10px;
	background-color: #6dc5df;
	border: none;
	border-radius: 7px;
	color: white;
	font-size: 1.1em;
}
.recherche #search
{
	padding: 10px;
	border: none;
	border-bottom: 2px solid #6dc5df;
	margin-right: 20px;
}

.recherche #search:hover
{
	background-color: #C3E8F3;
}


#envoyerMessage:hover, #searchButton:hover
{
	background-color: none;
	box-shadow: 0.8px 0.8px 5px #999;
    background: linear-gradient(to bottom,#6dc5df 0%, #6dc5df 50%,#429fb8 100%);
}

/* MESSAGES SUCCES ERREURS */

.popup {
	margin-left: 30px;
}